<table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Documento</th>
        <th>Nombres</th>
        <th>Correo</th>
        <th>Celular</th>
        <th>Empresa</th>
        <th>Contacto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let visita of visitas | paginate: { itemsPerPage: 10, currentPage: p }">
        <td class="text-center">{{visita.id}}</td>
        <td>{{visita.documento}}</td>
        <td>{{visita.nombre}}</td>
        <td>{{visita.email}}</td>
        <td>{{visita.celular}}</td>
        <td>{{visita.empresa}}</td>
        <td>{{visita.contacto}}</td>
      </tr>
    </tbody>
  </table>
  <div class="pages">
    <small class="text-right pages"><pagination-controls (pageChange)="p = $event"></pagination-controls></small>
  </div>