<!-- <ul *ngFor="let usuario of usuarios">
  <li>{{usuario.nombre | uppercase}}</li>
</ul> -->


<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th>Documento</th>
      <th>Nombres</th>
      <th>Correo</th>
      <th>Celular</th>
      <th>Empresa</th>
      <th>Contacto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 10, currentPage: p }">
      <td class="text-center">{{usuario.id}}</td>
      <td>{{usuario.documento}}</td>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.celular}}</td>
      <td>{{usuario.empresa}}</td>
      <td>{{usuario.contacto}}</td>
    </tr>
  </tbody>
</table>
<div class="pages">
  <small class="text-right pages"><pagination-controls (pageChange)="p = $event"></pagination-controls></small>
</div>


